/* VARIABLES */
:root {
    --color-bg: rgb(24, 20, 24);
    --color-text: rgb(255, 255, 230);
    --color-text-secondary: rgb(180, 180, 180);
    --color-title: rgb(202, 160, 70);

    --color-navbar-bg: rgb(35, 38, 38);
    --gradient-navbar-bg: linear-gradient(rgb(35, 38, 38), rgb(32, 35, 35))
}


* {
    scroll-behavior: smooth;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: sans-serif;
}



a, li {
    color: var(--color-text-secondary);
}

a:hover {
    color: var(--color-title);
}



/* GENERAL */

.social-icon {
    display: inline;
}

.social-icon > a {
    display: inline-block;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: 1.25em;

    position:relative;
}

.social-icon > a:hover {
    background-color: var(--color-title);
    color: var(--color-bg);
}

.fa-brands {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* NAVBAR */
.navbar {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;

    padding: 16px 0;

    background-color: var(--color-navbar-bg);
    background-image: var(--gradient-navbar-bg);
    border-bottom: 2px solid var(--color-title);
}

.navbar__container {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    display: inline-flex;
    align-items: center;
}

.navbar__item {
    margin: 0 12px;
}

.navbar__link {
    margin-left: 12px;
}

.navbar__link-item > a {
    text-transform: uppercase;
    font-size: 1.2em;
    color: var(--color-text);
    text-decoration: none;
}

.navbar__link-item > a:hover {
    color: var(--color-title);
}


/* HEADER */
.header {
    position: relative;
    margin-bottom: 128px;
}

.header__bg {
    width: 100%;
    min-height: 400px;
}

.header__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__logo {
    display: block;
    max-width: 320px;
    margin: 0 auto;
}

.header__button {
    display: block;
    margin: 20px auto;
    padding: 20px;

    border-radius: 10px;

    font-weight: bolder;
    font-size: 2rem;

    background-color: var(--color-bg);
    color: var(--color-title);
    border: 1px solid var(--color-title);
}

.header__button:hover {
    background-color: var(--color-title);
    color:var(--color-text);
}



/* SECTIONS */

section {
    margin-bottom: 128px;
    scroll-margin-top: 7em;
}

.container {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;

    /* border: 1px solid blue; */
}

.section-title {
    font-size: 2rem;

    margin-bottom: 20px;
    color: var(--color-title);
}

.trailer__iframe {
    display:inline-block;
    width: 100%;
    aspect-ratio: 16/9;
}

.about__text > p {
    padding: 5px 0;
}

.requirements__title {
    color: var(--color-title);
}



/* ESRB */

footer {
    padding-bottom: 16px;
    width: 100%;
    /* border: 1px solid greenyellow; */
    text-align: center;
}

footer > .container {
    position: relative;
}

.esrb {
    max-width: 320px;
    display:block;
    margin: 0 auto 48px auto;
}

.footer__icons {
    display: inline;
}

.footer__icons > .social-icon {
    margin: 0 10px;
}

.footer__icons > .social-icon > a:hover {
    color: var(--color-text);
}

.footer__copyright {
    position: absolute;
    left: 0;
}

.footer__policies {
    display: inline;
    position: absolute;
    right: 0;
}

.footer__policies > li {
    display: inline;
    margin-left: 10px;
}

.footer__policies > li > a {
    color: var(--color-text);
    text-decoration: none;
}




